```
make test_02
=== RUN   TestAnalys
=== RUN   TestAnalys/simple
=== RUN   TestAnalys/empty
=== RUN   TestAnalys/more_info
--- PASS: TestAnalys (0.00s)
--- PASS: TestAnalys/simple (0.00s)
--- PASS: TestAnalys/empty (0.00s)
--- PASS: TestAnalys/more_info (0.00s)
PASS
ok      module07/internal/analys        0.005s
```